<table>
<tr>
    <td>ação</td>
    <td>id</td>
    <td>nome</td>
    <td>senha</td>
</tr>
    {{#dados}}
<tr>
    <td>
        <a href="deletar/{{id}}" class="deletar"><img src="/img/trash_24px.png"></a>
        <a href="editar/{{id}}"><img src="/img/edit_24px.png"></a>
    </td>
    <td>{{id}}</td>
    <td>{{nome}}</td>
    <td>{{senha}}</td>
</tr>
    {{/dados}}
</table>